@charset 'utf-8';
@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

body { 
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
}

//snow-effect
.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}

.wrapper {
    position: relative;
    width: 100%;

    header {
        position: relative;
        background-color: #000;
        @include object_measure();
        .mobile-only {
            @include responsive(pc-screens) {
                display: none;
            }
            .header-fix {
                position: fixed;
                width: 100% ;
                height: 100px;
                top: 0;
                z-index: 5;
                background-color: (255, 255,255, 0.1);
                backdrop-filter: blur(10px);
                padding: 0 20px;
                .mobile-h1 {
                    h1 {
                        display: inline-block;
                        border-top: 3px solid #039be5;
                        margin-top: 40px;
                        padding-top: 5px;
                        a {
                            color: #ccc;
                        }
                    }
                }
                .before-menu {
                    position: fixed;
                    top: 45px;
                    right: 12px;
                    cursor: pointer;
                    span {
                        display: block;
                        width: 25px;
                        height: 3px;
                        background-color: #fff;
                        &:nth-child(2) {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
        .mobile-menu {
            @include object_measure();
            display: none;
            position: fixed;
            background-color: #000;
            z-index: 5;
            .close-menu {
                display: none;
                position: fixed;
                top: 35px;
                right: 5px;
                cursor: pointer;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .gnb {
                position: fixed;
                left: 50%; 
                top: 50%;
                transform: translate(-50%, -50%);
                li {
                    text-align: center;
                    a {
                        color: #ccc;
                        font: {
                            size: 40px;
                            family: $font-special;
                        }
                        &:hover {
                            color: #75ffff;
                        }
                    }
                }
            }
        } // mobile-menu
        .pc-menu {
            width: 100%;
            display: none;
            @include responsive(pc-screens) {
                display: block;
                position: fixed;
                background-color: transparent;
                z-index: 5;
            }
            .gnb {
                display: flex;
                padding: 50px 150px 0 150px;
                li {
                    width: 20%;
                    border-bottom: 3px solid #ccc;
                    text-align: center;
                    &:first-child {
                        border-bottom: 3px solid #039be5;
                    }
                    a {
                        color: #c3c3c3;
                        font-size: 25px;
                        opacity: 0.5;
                        transition: all 0.4s;
                        font-family: $font-special;
                        &:hover {
                            opacity: 0.7;
                        }
                        &:active {
                            opacity: 1;
                        }
                        span {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        #type {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 30px;
            color: #fff;
        }
        @keyframes blink {
            0% {
                opacity:1;
            }
            50% {
                opacity:1;
            }
            51% {
                opacity:0;
            }
            100% {
                opacity:0;
            }
        }
        #type:after {
            content: "|";
            animation: blink 0.5s step-end infinite;
            font-family: $font-mainB;
        }
        .resume-btn {
            button {
                display: none;
                @include responsive(pc-screens) {
                    display: block;
                    background-color: #ccc;
                    border-radius: 5px;
                    padding: 10px;
                    margin-top: 2%;
                    font-family: $font-special;
                    font-size: 20px;
                    cursor: pointer;
                    @include alignment_center();
                }
            }
        }
        .swipe {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            @include responsive(pc-screens) {
                display: none;
            }
            
            img{
                width: 30px;
                filter: $svg-white;
                animation: swipe-up 1.5s ease-in-out 1s infinite;
            }

            @keyframes swipe-up {
                0% {transform: translate(0, 50%) scale(0);} 
                10% {transform: translate(0, 50%) scale(0);}
                20% {transform: translate(0, 50%) scale(1);}
                80% {transform: translate(0, -50%) scale(1);}
                90% {transform: translate(0, -50%) scale(0);}
                100% {transform: translate(0, -50%) scale(0);}
            }
            p {
                display: inline-block;
                padding-left: 7px;
                color: #fff;
            }
        }
        .mouse {
            display: none;
            @include responsive(pc-screens) {
                display: block;
                position: absolute;
                left: 50%;
                bottom: 10%;
                transform: translateX(-50%);
            }
            .mouse-outline {
                @include responsive(pc-screens) {
                    width: 30px;
                    height: 44px;
                    border-radius: 12px;
                    border: 2px solid #75ffff;
                }
            }
            .mouse-wheel {
                @include responsive(pc-screens) {
                    width: 4px;
                    height: 8px;
                    border-radius: 2px;
                    background-color: #75ffff;
                    position: absolute;
                    top: 8px;
                    left: calc(50% - 2px);
                    animation: mouse-moving 1s infinite ;
                }
            }
            @keyframes mouse-moving {
                from {
                    transform: translateY(100%);
                }
                to {
                    transform: translateY(0);
                }
            }
        }
    }

    main {
        section.about-me {
            margin-top: 100px;
            position: relative;
            @include object_measure();
            @include section_subject();
            opacity: 0;
                .folder-box {
                    display: none;
                    @include responsive(pc-screens) {
                        display: flex;
                        justify-content: space-around;
                        position: relative;
                        @include object_measure();
                        .folder-img {
                            img {
                                width: 300px;
                                margin-right: 100px;
                                @include responsive(pc-screens) {
                                    cursor: pointer;
                                    position: absolute;
                                    top: 50%; left: 25%;
                                    transform: translateY(-50%);
                                }
                            }
                            .click {
                                filter: $svg-white;
                                width: 60px;
                                position: absolute;
                                top: 48%; left: 33%;
                                animation: hand-clicking 1.5s infinite;
                            }
                            @keyframes hand-clicking {
                                0%, 100% {
                                    transform: translate(0,0) scale(1) rotate(-1deg);
                                    opacity: 65%;
                                }
                                30% {
                                    transform: translate(-1px, 3px) scale(.95) rotate(-5deg);
                                    opacity: 80%;
                                }
                            }
                        }
                        .folder-des {
                            @include responsive(pc-screens) {
                                background-color: #000;
                                color: #fff;
                                width: 235px;
                                height: 235px;
                                border-radius: 50%;
                                position: absolute;
                                top: 50%; right: 25%;
                                transform: translateY(-50%);
                                display: table;
                            }
                            p {
                                @include responsive(pc-screens) {
                                    font-size: 1.3em;
                                    line-height: 35px;
                                    display: table-cell;
                                    vertical-align: middle;
                                    text-align: center;
                                    padding: 0 20px;
                                }
                            }
                        }
                    }
                }
                .modal {
                    display: none;
                    @include responsive(pc-screens) {
                        margin: 0 auto;
                        z-index: 100;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #fff;
                        width: 1200px;
                        height: 800px;
                    }
                    .modal-content {
                        strong {
                            display: none;
                            @include responsive(pc-screens) {
                                display: block;
                                text-align: center;
                                margin-top: 100px;
                                font-size: 35px;
                                width: 100%;
                            }
                        }
                        .intro-flex {
                            @include responsive(pc-screens) {
                                display: flex;
                                justify-content: space-between;
                                vertical-align: middle;
                                align-items: center;
                                margin: 50px;
                            }
                            .img-text-box {
                                margin-top: 50px;
                                text-align: center;
                                @include responsive(pc-screens) {
                                    margin-top: 0;
                                    width: 20%;
                                }
                                .img-box {
                                    img {
                                        width: 200px;
                                        height: 200px;
                                    }
                                    @include responsive(pc-screens) {
                                        margin-bottom: 20px;
                                    }
                                }
                                .text-box {
                                    p {
                                        display: none;
                                        @include responsive(pc-screens) {
                                            display: block;
                                            line-height: 25px;
                                        }
                                        span {
                                            @include responsive(pc-screens) {
                                                font-size: 20px;
                                                color: #63666a;
                                            }
                                        }
                                    }
                                }
                            }
                            .me_des {
                                margin-top: 20px;
                                @include responsive(pc-screens) {
                                    margin-top: 0;
                                    width: 70%;
                                    vertical-align: middle;
                                }
                                .des_item {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 15px;
                                    p {
                                        line-height: 25px;
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .modal-back {
                    display: none;
                    @include responsive(pc-screens) {
                        cursor: pointer;
                        z-index: 5;
                        position: fixed;
                        top: 0;
                        left: 0;
                        background: rgba(0,0,0,0.8);
                        @include object_measure();
                    }
                }
                .modal_close {
                    display: none;
                    @include responsive(pc-screens) {
                        z-index: 101;
                        position: fixed;
                        top: 10%;
                        right: 20%;
                        cursor: pointer;
                        img {
                            filter: $svg-black;
                            width: 40px;
                            height: 40px;
                            margin: 3rem;
                            padding: 0.5rem;
                            background: rgba(0,0,0,0.3);
                            border-radius: 50%;
                            &:hover {
                                background: rgba(0,0,0,0.6);
                            }
                        }
                    }
                }
            }
        }

        section.skills {
            margin: 100px 0; //
            width: 100%;
            height: 100vh;
            @include section_subject();
            opacity: 0;
            @include responsive(pc-screens) {
            height: 110vh;
            }
            .flex-box {
                display: flex;
                flex-wrap: wrap;
                .skill_item {
                    margin-top: 100px;
                    width: 33%;
                    text-align: center;
                    img {
                        width: 105px;
                        height: 105px;
                        margin-bottom: 10px;
                        animation: pivot 0.25s infinite;
                    }
                    @keyframes pivot {
                        0%, 100% {
                            transform: rotate(-2deg);
                        }
                        50% {
                            transform: rotate(2deg);
                        }
                    }
                    .animated-progress {
                        display: none;
                        @include responsive(pc-screens) {
                            display: block;
                            width: 100px;
                            height: 30px;
                            margin: 0 auto 15px;
                            border: 1px solid #000;
                            border-radius: 5px;
                            overflow: hidden;
                        }
                        span {
                            @include responsive(pc-screens) {
                                width: 0;
                                height: 100%;
                            }
                        }
                    }
                    .orange span{
                        @include responsive(pc-screens) {
                            background-color: #e34d25;
                        }
                    }
                    .darkblue span{
                        @include responsive(pc-screens) {
                            background-color: #1471b6;
                        }
                    }
                    .pink span{
                        @include responsive(pc-screens) {
                            background-color: #cf639a;
                        }
                    }
                    .yellow span{
                        @include responsive(pc-screens) {
                            background-color: #f7df1e;
                        }
                    }
                    .blue span{
                        @include responsive(pc-screens) {
                            background-color: #52c1de;
                        }
                    }
                    .yellow span{
                        @include responsive(pc-screens) {
                            background-color: #f7df1e;
                        }
                    }
                    .navy span{
                        @include responsive(pc-screens) {
                            background-color: #061f34;
                        }
                    }
                    .brown span{
                        @include responsive(pc-screens) {
                            background-color: #2c100f;
                        }
                    }
                    span {
                        display: block;
                    }
                    .skills_des {
                        display: none;
                        position: relative;
                        text-align: center;
                        img {
                            position: absolute;
                            left: 0;
                            width: 160px;
                            height: 220px;
                            opacity: 0.3;
                            @include responsive(tablet-screens) {
                                left: 18%;
                            }
                            @include responsive(pc-screens) {
                                left: 33%;
                            }
                        }
                        p {
                            width: 160px;
                            text-align: justify;
                            word-break: break-all;
                            padding: 60px 8px 0 8px;
                            @include responsive(tablet-screens) {
                                margin-left: 18%;
                            }
                            @include responsive(pc-screens) {
                                margin-left: 33%;
                            }
                        }
                    }
                    &:hover .skills_des {
                        display: none;
                        @include responsive(tablet-screens) {
                            display: block;
                        }
                    }
                }
            }
        } // section.skills

        section.projects {
            width: 100%;
            @include section_subject();
            .project_item {
                padding-top: 100px;
                .p-item {
                    opacity: 0;
                    @include object_measure();
                    @include responsive(tablet-screens) {
                        display: flex;
                        justify-content: space-between;
                    }
                    .project-flex {
                        @include responsive(tablet-screens) {
                            width: 50%;
                            padding-right: 5%; 
                        }
                        h4 {
                            margin-bottom: 20px;
                            padding-bottom: 10px;
                            border-bottom: 2px solid #ccc;
                            @include responsive(tablet-screens) {
                                border-bottom: 3px solid #ccc;
                                font-family: $font-mainB;
                                font-size: 33px;
                            }
                            span {
                                font-family: $font-subB;
                            }
                        }
                        p {
                            line-height: 30px;
                            margin-bottom: 10px;
                            @include responsive(tablet-screens) {
                                font-size: 20px;
                            }
                        }
                        .span-box {
                            margin-top: 30px;
                            .border {
                                display: block;
                                margin-top: 15px;
                                padding-left: 5px;
                                border-left: 4px solid #000;
                                @include responsive(tablet-screens) {
                                    font-size: 20px;
                                }
                            }
                        }
                        .project_btn {
                            margin-top: 35px;
                            display: flex;
                            justify-content: end;
                            position: relative;
                            .design,
                            .code,
                            .webpage {
                                position: relative;
                                @include btn-location();
                            }
                        }
                    }
                    .project_img {
                        width: 100%;
                        margin-top: 40px;
                        @include responsive(tablet-screens) {
                            width: 50%;
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        } // section.projects
        
        section.contact {
            @include object_measure();
            background-color: #000;
            h3 {
                margin-top: 40px;
                margin-bottom: 60px;
                color: #fff;
                text-align: center;
                @include responsive(pc-screens) {
                    margin: 100px 0;
                    font-size: 2em;
                }
            }
            .contact-flex {
                @include responsive(pc-screens) {
                    display: flex;
                    align-items: center;
                }
                .my_character {
                    display: none;
                    @include responsive(pc-screens) {
                        width: 40%;
                        display: block;
                    }
                    img {
                        @include responsive(pc-screens) {
                            width: 200px;
                        }
                    }
                }
                .my_info {
                    @include responsive(pc-screens) {
                        width: 60%;
                    }
                    .center {
                        text-align: center;
                        .underline {
                            color: #fff;
                            font-size: 20px;
                            line-height: 30px;
                            background-image: linear-gradient(to right,#f4b322 0, #f4b322 100%);
                            background-position: 0 0.75em;
                            background-size: 0;
                            background-repeat: no-repeat;
                            &:hover {
                                transition: 0.5s ease-in;
                                background-size: 100%;
                            }
                        }
                    }
                    form {
                        width: 100%;
                        margin-top: 50px;
                        @include responsive(pc-screens) {
                            margin-top: 70px;
                        }
                        div {
                            margin-bottom: 20px;
                        }
                        .info-item {
                            display: flex;
                            justify-content: space-between;
                            span {
                                width: 20%;
                                color: #fff;
                            }
                            input {
                                height: 30px;
                            }
                            input,
                            textarea {
                                width: 75%;
                                padding: 10px 10px;
                                font-family: $font-main;
                            }
                        }
                        button {
                            position: relative;
                            color: #fff;
                            border: 1px solid #fff;
                            padding: 10px 20px;
                            float: right;
                            cursor: pointer;
                            overflow: hidden;
                            box-shadow: 2px 2px 2px #fff;
                            &:before, &:after {
                                position: absolute;
                                top: 50%;
                                content: "";
                                width: 10px;
                                height: 10px;
                                background-color: #fff;
                                border-radius: 50%;
                                z-index: -1;
                            }
                            &:before {
                                left: 5px;
                                transform: translate(-50%, -50%);
                            }
                            &:after {
                                right: 5px;
                                transform: translate(50%, -50%);
                            }
                            &:hover {
                                color: #000;
                                z-index: 5;
                                font-family: $font-mainB;
                            }
                            &:hover:before {
                                        animation: criss-cross-left 0.8s both;
                                        animation-direction: alternate;
                            }
                            @keyframes criss-cross-left {
                                0% {
                                    left: 5px;
                                }
                                50% {
                                    left: 50%;
                                    width: 20px;
                                    height: 20px;
                                }
                                100% {
                                    left: 50%;
                                    width: 150%;
                                    height: 150%;
                                }
                            }
                            &:hover:after {
                                        animation: criss-cross-right 0.8s both;
                                        animation-direction: alternate;
                            }
                            @keyframes criss-cross-right {
                                0% {
                                    right: 5px;
                                }
                                50% {
                                    right: 50%;
                                    width: 20px;
                                    height: 20px;
                                }
                                100% {
                                    right: 50%;
                                    width: 150%;
                                    height: 150%;
                                }
                            }
                        }
                    }
                } // my_info
            }
        } // section.contact 
    } // main
    footer {
        width: 100%;
        height: 100%;
        position: relative;
        .container {
            z-index: 2;
            .copyright {
                p {
                    text-align: center;
                }
            }
            .personal_btn {
                display: flex;
                justify-content: center;
                padding: 20px 0;
                cursor: pointer;
                a {
                    margin-right: 20px;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .modal-stack {
                display: none;
                z-index: 10;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.8);
                @include responsive(pc-screens) {
                    cursor: pointer;
                    @include object_measure();
                }
            }
            .kakao-modal {
                display: none;
                z-index: 999;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                
                @include responsive(pc-screens) {
                transform: translate(-20%, -50%);
                }
                img {
                    width: 100%;
                    @include responsive(pc-screens) {
                        width: 40%;
                    }
                }
                .kakao-close {
                    cursor: pointer;
                    position: fixed;
                    top: 5%;
                    right: 5%;
                    width: 15%;
                    @include responsive(pc-screens) {
                        top: 1%;
                        right: 61%;
                        width: 5%;
                    }
                }
            }
        }
        .footer-bg {
            position: absolute;
            bottom: 0;
            width: 100%;
            img {
                width: 100%;
                z-index: 1;
                @include responsive(pc-screens) {
                    height: 250px;
                }
            }
        }
        .fixed-menu {
            display: none;
            img {
                position: fixed;
                right: 3%;
                bottom: 10%;
                width: 80px;
                animation: wiggle 3s ease-in-out infinite;
                cursor: pointer;
                @include responsive(pc-screens) {
                    right: 5%;
                    width: 110px;
                }
                &:hover {
                    animation: none;
                }
            }
            @keyframes wiggle {
                33%{ transform: rotate(10deg); }
                66%{ transform: rotate(-10deg); }
            }
        }
    } // footer
    .cursor {
    pointer-events: none;

        .cursor__ball {
            position: fixed;
            top: 0;
            left: 0;
            mix-blend-mode: difference;
            z-index: 1000;

            circle {
                fill: #f7f8fa;
            }
        }
    }
    .left {
        height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    }