@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Rajdhani-Bold';
    src: url(../font/Rajdhani/Rajdhani-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareR';
    src: url('../font/NanumFontSetup_OTF_SQUARE/NanumSquareR.otf') format("opentype");
}

@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumFontSetup_OTF_SQUARE/NanumSquareB.otf') format("opentype");
}

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1440px; 

$font-main: 'NanumSquareR';
$font-mainB: 'NanumSquareB';
$font-sub: 'Montserrat-Regular';
$font-subB: 'Montserrat-Bold';
$font-special: 'Rajdhani-Bold';

$svg-white: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
$svg-black: brightness(101%) saturate(0);