@mixin responsive($break) {
    @if $break == mobile-screens {
        @media screen and (min-width: $break-mobile) {
            @content;
        }

    } @else if $break == tablet-screens {
        @media screen and (min-width: $break-tablet) {
            @content;
        }
    } @else if $break == pc-screens {
        @media screen and (min-width: $break-pc) {
            @content;
        }
    }
}

@mixin img-shadow() {
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}